$black: #585858;
$darkgrey: #707070;
$grey: #848484;
$lightgray: #A4A4A4;
$mediumpurple: #BB40FE;
$deepskyblue: #209CFF;
$white: #FFFFFF;
$whitesmoke: #FCFCFC;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
h1 {
    font-weight: 900;
    font-size: 114px;
    color: $black;
}

h2 {
    font-weight: 900;
    font-size: 60px;
    color: $black;
}

h3 {
    font-weight: 700;
    font-size: 50px;
    color: $black;
}

h4 {
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-25px {
    font-size: 25px!important;
}

.font-size-20px {
    font-size: 20px!important;
}

.text-purple {
    color: $mediumpurple;
}

.text-blue {
    color: $deepskyblue;
}

.text-secondary {
    color: $lightgray!important;
}

.text-dark {
    color: $black!important;
}

.bg-transparent {
    background-color: $whitesmoke;
}

.pb-38px {
    padding-bottom: 38px;
}

.pb-50px {
    padding-bottom: 50px;
}

.pb-63px {
    padding-bottom: 63px;
}

.pb-100px {
    padding-bottom: 100px;
}

.pb-116px {
    padding-bottom: 116px;
}

.pb-122px {
    padding-bottom: 122px;
}